@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Faster+One&family=Story+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Black&family=Faster+One&family=Story+Script&display=swap");
body {
  background-color: #f0efe8;
  color: #3c096c;
  margin: 0px;
  padding: 0px;
}
body::selection {
  background-color: #b8c1ec;
  color: #000;
}


html,
body {
  overflow-x: hidden;
  max-width: 100%;
}
#access {
  color: #ece7ef;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.Links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 15px 30px;
  background-color: #3c096c;
  list-style: none;
  transform: translateY(-15px);
  border-bottom: 4px solid #c9a227;
  height: 49px;
  width: 100%;
}

#access:hover {
  color: #c9a227;
}
nav a.active{
  color: #c9a227;
  border-bottom: 2px solid #c9a227;
}

#Meet {
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;
}
#activity {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
span {
  color: #c9a227;
}
.head {
  height: 180px;
  width: 100%;
  background-color: #3c096c;
  color: #ece7ef;
  transform: translateY(-36px);
}

.line {
  width: 60px;
  height: 3px;
  background: #c9a227;
  margin: 28px auto 0;
}
#shift {
  text-align: center;
}
#shift::after,
#shift::before {
  content: "  ✦  ";
}
.wom {
  display: flex;
  margin-top: 50px;
  overflow-x: scroll;
}
.men {
  display: flex;
  margin-top: 50px;
  overflow-x: scroll;
}
.wom::-webkit-scrollbar,
.men::-webkit-scrollbar {
  height: 10px;
  border: 2px solid #3c096c;
  width: 100%;
}

.wom::-webkit-scrollbar-thumb,
.men::-webkit-scrollbar-thumb {
  background: gold;
  border-radius: 10px;
  border: 2px solid #3c096c;
}
.wom::-webkit-scrollbar-thumb:hover {
  background-color: #c9a227;
}

#bord {
  border: 2px solid #320f68;
  border-radius: 12px;
}
#bord:hover {
  border-color: #decc28;
  box-shadow: 0 4px 10px yellow;
}
#trainer {
  list-style: none;
}

#trainer li::before {
  content: "◆";
  color: #f5c518;
  margin-right: 8px;
  font-size: 12px;
}
#details {
  padding: 10px 30px;
  font-size: 1rem;
  text-decoration: none;
  border: 2px solid #3c096c;
  border-radius: 12px;
  font-weight: bold;
  color: #decc28;
  background: #3c096c;
}
#details::after {
  content: "→";
  color: #decc28;
  margin-left: 8px;
}
#details:hover {
  background-color: #decc28;
  color: #000;
}

#Meet {
  text-align: center;
}

.Work {
  border: 2px solid #3c096c;
  border-radius: 5px;
  text-align: center;
  height: 300px;
  width: 100%;
}
#us {
  text-decoration: none;
  border: 2px solid #c9a227;
  border-radius: 10px;
  font-size: 50px;
  background-color: #3c096c;
  color: #c9a227;
  width: 300px;
  transform: translate(480px, 10px);
}
#us:hover {
  background-color: #c9a227;
  color: #3c096c;
}
#cont {
  text-align: center;
  font-family: "Faster One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.footer-h {
  background: linear-gradient(135deg, #2d0057 0%, #4b0082 40%, #5f34a5 70%);
  color: #fff;
  font-family: "Segoe UI";
  border-top: 5px solid #f5c518;
}
.footer-g {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding: 50px 30px;
}
.footer-contact,
.f-oppenin-h,
.footer-logo {
  flex: 1;
}
.footer-logo img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
}
.footer-h h3 {
  display: block;
  color: #f5c518;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1rem;
  text-align: center;
  margin: 16px 0 10px 0;
}
.contact-it {
  display: flex;
  align-items: center;
}
.contact-it img {
  width: 20px;
  height: 20px;
}
.contact-it a,
.contact-it span {
  color: white;
  font-size: 13px;
  text-decoration: none;
}
.footer-h hr {
  border-top: 3px solid #ffcc00;
}
.footer-social {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 20px;
}
.footer-social img {
  width: 40px;
  height: 40px;
}

.card {
  border: 2px solid #3c096c;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c096c;
  color: #ece7ef;
  width: 100%;
  border-radius: 18px 18px 0 0;
  gap: 20px;
}
.icon {
  font-size: 30px;
  border: 1px solid #ffd700;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #ffd90067;
}
.card h4 {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5 rem;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin: 20px;
}

fieldset {
  background-color: whitesmoke;
  border: 1px solid #3c096c;
  border-radius: 18px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 580px;
  width: 500px;
}
input,
select,
textarea {
  border: 1px solid #2b005047;
  border-radius: 8px;
  padding: 10px 14px;
  width: 85%;
  background: #f0efe8;
  box-sizing: border-box;
  margin: 5px 10px;
}
label {
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px 10px;
  letter-spacing: 2px;
}

#send {
  background-color: #3c096c;
  color: #ece7ef;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 15px 140px;
}
#reset {
  background-color: #ece7ef;
  color: #3c096c;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 15px 20px;
}

.div {
  transform: translate(25px, 40px);
}
address {
  display: flex;
  flex-direction: column;
}
.add {
  font-size: 1.5 rem ;
  border: 1px solid #efecd6;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: #efecd6;
  margin: 0px auto;
}

.info {
  display: grid;
  margin: 0px auto;
}

.info b {
  color: #c9a227;
}
#shift2 {
  text-align: center;
}

#email,
#loc {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#email:hover,
#loc:hover {
  color: #c9a227;
}
#location {
  text-align: center;
}

table {
  width: 70%;
  margin: 30px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  border-collapse: separate;
  overflow: hidden;
  box-shadow: 0 4px 10px;
  color: rgba(0, 0, 0, 0, 1);
}
th {
  background-color: #ffda03;
  color: #3c096c;
  padding: 12px;
  font-size: 18px;
}
td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #7b24d2;
  color: #3c096c;
}
tr:hover {
  background-color: #f5e6ff;
}
ul {
  text-align: left;
  padding-left: 20px;
}
